
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mainbox">


    <div class="contact">
        <h2>Contact Us</h2>
        <h3>Name: Sakina Abid</h3>
        <h3>Address: Manikdi, Dhaka Cantonment. </h3>
        <h3>Mobile No: 01742363742</h3>
        <h3>Email: ayshasbakehouse@gmail.com</h3>
    </div>
    <div class="HomeButton"><a href="../Home/Index">Go Back Home</a></div>
</div>

